###########################################
# Additional Macros for Creality K1 Series
###########################################

[respond]

[virtual_pins]

[output_pin ADAPTIVE_BED_MESH]
pin: virtual_pin:ADAPTIVE_BED_MESH_pin
value: 1

[output_pin FULL_BED_MESH]
pin: virtual_pin:FULL_BED_MESH_pin
value: 0

[output_pin ADAPTIVE_PURGE_LINE]
pin: virtual_pin:ADAPTIVE_PURGE_LINE_pin
value: 1


[gcode_macro _ADAPTIVE_BED_MESH_ON]
description: Enable Adaptive Bed Mesh and Disable Full Bed Mesh
gcode:
  SET_PIN PIN=ADAPTIVE_BED_MESH VALUE=1
  SET_PIN PIN=FULL_BED_MESH VALUE=0
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _FULL_BED_MESH_ON]
description: Disable Adaptive Bed Mesh and Enable Full Bed Mesh
gcode:
  SET_PIN PIN=ADAPTIVE_BED_MESH VALUE=0
  SET_PIN PIN=FULL_BED_MESH VALUE=1
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _BED_MESH_OFF]
description: Disable Adaptive Bed Mesh and Enable Full Bed Mesh
gcode:
  SET_PIN PIN=ADAPTIVE_BED_MESH VALUE=0
  SET_PIN PIN=FULL_BED_MESH VALUE=0
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _ADAPTIVE_PURGE_LINE_ON]
description: Enable Adaptive Purge Line
gcode:
  SET_PIN PIN=ADAPTIVE_PURGE_LINE VALUE=1
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro _ADAPTIVE_PURGE_LINE_OFF]
description: Disable Adaptive Purge Line
gcode:
  SET_PIN PIN=ADAPTIVE_PURGE_LINE VALUE=0
  RESPOND TYPE=command MSG="action:prompt_end"


[gcode_macro KAMP_BED_MESH_SETTINGS]
description: Configure Bed Mesh type
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Bed Mesh Settings"
  RESPOND TYPE=command MSG="action:prompt_text What type of bed mesh do you want to use when you start printing?"
  RESPOND TYPE=command MSG="action:prompt_button ADAPTIVE BED MESH|_ADAPTIVE_BED_MESH_ON|primary"
  RESPOND TYPE=command MSG="action:prompt_button FULL BED MESH|_FULL_BED_MESH_ON|primary"
  RESPOND TYPE=command MSG="action:prompt_button NONE|_BED_MESH_OFF|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro KAMP_PURGE_LINE_SETTINGS]
description: Configure Purge Line type
gcode:
  RESPOND TYPE=command MSG="action:prompt_begin Purge Line Settings"
  RESPOND TYPE=command MSG="action:prompt_text What type of purge line do you want to use when you start printing?"
  RESPOND TYPE=command MSG="action:prompt_button ADAPTIVE PURGE LINE|_ADAPTIVE_PURGE_LINE_ON|primary"
  RESPOND TYPE=command MSG="action:prompt_button CLASSIC PURGE LINE|_ADAPTIVE_PURGE_LINE_OFF|primary"
  RESPOND TYPE=command MSG="action:prompt_show"


[gcode_macro START_PRINT]
variable_prepare: 0
gcode:
  RESPOND TYPE=command MSG="DEBUG: BOX_START_PRINT macro commencing"
  BOX_START_PRINT
  RESPOND TYPE=command MSG="DEBUG: BOX_START_PRINT complete - resuming balance of START_PRINT commands"
  G90
  WAIT_TEMP_END
  CLEAR_PAUSE
  {% set g28_extruder_temp = printer.custom_macro.g28_ext_temp %}
  {% set bed_temp = printer.custom_macro.default_bed_temp %}
  {% set extruder_temp = printer.custom_macro.default_extruder_temp %}
  
  {% if 'BED_TEMP' in params|upper and (params.BED_TEMP|float) %}
    {% set bed_temp = params.BED_TEMP %}
  {% endif %}
  
  {% if 'EXTRUDER_TEMP' in params|upper and (params.EXTRUDER_TEMP|float) %}
    {% set extruder_temp = params.EXTRUDER_TEMP %}
  {% endif %}

  {% if printer['gcode_macro START_PRINT'].prepare|int == 0 %}
    RESPOND TYPE=command MSG="DEBUG: prepare=0 path, doing full home sequence"
    {action_respond_info("not prepare.\n")}
    PRINT_PREPARE_CLEAR
    CX_ROUGH_G28 EXTRUDER_TEMP={extruder_temp} BED_TEMP={bed_temp}
    #CX_NOZZLE_CLEAR        # Moving to after heat soak
    #ACCURATE_G28
  {% else %}
    RESPOND TYPE=command MSG="DEBUG: prepare=1 path, BOX_START_PRINT already homed"
    PRINT_PREPARE_CLEAR
  {% endif %}

  # --- HEAT SOAK AND STABILIZE ---
  RESPOND TYPE=command MSG="DEBUG: Waiting for bed to reach {bed_temp}C before mesh..."
  M140 S{bed_temp}
  M109 S{g28_extruder_temp}
  M190 S{bed_temp}

  # --- Add a 2-minute dwell for high temperature beds to let the expansion settle ---
  {% if bed_temp|int >= 75 %}
    RESPOND TYPE=command MSG="DEBUG: High temp bed detected, soaking for 2 minutes..."
    G4 P120000 
  {% endif %}

  # --- RE-ZERO AFTER HEAT SOAK ---
  RESPOND TYPE=command MSG="DEBUG: Cleaning nozzle and re-homing Z at temp"
  CX_NOZZLE_CLEAR BED_TEMP={bed_temp}   # Clean off any ooze that happened during heating -- Ensure we pass the bed temperature to avoid unncessary wait times and heat cycles!
  ACCURATE_G28                          # Re-establishes Z=0 now that the bed is heated up

  RESPOND TYPE=command MSG="DEBUG: Bed at target and re-homed, starting mesh"

  {% if printer['output_pin ADAPTIVE_BED_MESH'].value == 1 %}
    RESPOND TYPE=command MSG="Starting Adaptive Bed Mesh..."
    BED_MESH_CLEAR
    BED_MESH_CALIBRATE
    BED_MESH_PROFILE SAVE=adaptive
    BED_MESH_PROFILE LOAD=adaptive
  {% else %}
    {% if printer['output_pin FULL_BED_MESH'].value == 0 and (not printer['bed_mesh'].profile_name) %}
      RESPOND TYPE=command MSG="No bed mesh found. Starting Full Bed Mesh..."
      CX_PRINT_LEVELING_CALIBRATION
    {% endif %}
    {% if printer['output_pin FULL_BED_MESH'].value == 1 %}
      RESPOND TYPE=command MSG="Starting Full Bed Mesh..."
      CX_PRINT_LEVELING_CALIBRATION
    {% endif %}
    BED_MESH_PROFILE LOAD=default
  {% endif %}

  RESPOND TYPE=command MSG="DEBUG: Mesh complete, reheating nozzle to {extruder_temp}C for purge"
  M109 S{extruder_temp}
  
  ADAPT_PURGE_MOD
  
[gcode_macro ADAPT_PURGE_MOD]
gcode:
  {% if printer['output_pin ADAPTIVE_PURGE_LINE'].value == 1 %}
    _SMART_PARK
    RESPOND TYPE=command MSG="Starting Adaptive Purge Line..."
    _LINE_PURGE
  {% else %}  
    RESPOND TYPE=command MSG="Starting Classic Purge Line..."
    CX_PRINT_DRAW_ONE_LINE
  {% endif %}
  SET_VELOCITY_LIMIT ACCEL={printer.configfile.settings.printer.max_accel}
